:root {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}

html, body, #app {
  background: #0f1117;
  min-height: 100%;
}

.p-toast-message {
  backdrop-filter: none !important;
  background: rgba(30, 30, 30, 0.75) !important;
}

.p-toast-message-error {
  background: rgba(255, 70, 70, 0.75) !important;
  color: white !important;
}
